.text  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #000000;
	text-align : justify;
	text-indent  : 12pt;
	letter-spacing : 1px;
}

.textnoalign  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #000000;
	line-height : 14pt;
}

.head1 {
	font-family : Tahoma, Arial;
	font-size : 18pt;
	color : #800000;
	text-align : center;
	letter-spacing : 1px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.head2 {
	font-family : Tahoma, Arial;
	font-size : 14pt;
	color : #800000;
	text-align : left;
}

.head3 {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #800000;
	text-align : left;
	font-style: italic;
}

.link  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
}

.linkbig  {
	font-family : Tahoma, Arial;
	font-size : 14pt;
}

.linksbig  {
	font-family : Tahoma, Arial;
	font-size : 18pt;
}

.comment  {
	font-family : Tahoma, Arial;
	font-size : 9pt;
	color : #800000;
}

.pic  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #000000;
	text-align : center;
	line-height : 14pt;
	letter-spacing : 2px;
}

.textpre  {
	font-size : 10pt;
	color : #000000;
	text-align : left;
}

.rem  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #004D26;
	text-align : justify;
	line-height : 12pt;
	margin-top : 1pt;
	margin-bottom : 1pt;
	margin-left : 10pt;
	margin-right : 10pt;
}

.headbig {
	font-family : Tahoma, Arial;
	font-size : 24pt;
	color : #800000;
}

.headbig1 {
	font-family : Tahoma, Arial;
	font-size : 18pt;
	color : #800000;
}

.rem1 {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #004D26;
}

.info  {
	font-family : Tahoma, Arial;
	font-size : 9pt;
	color : #800000;
	text-align : left;
	margin-top : 1pt;
	margin-bottom : 1pt;
}

.head {
	font-family : Tahoma, Arial;
	font-size : 14pt;
	color : #000000;
	text-align : left;
	letter-spacing : 1px;
	margin-top : 0pt;
	margin-bottom : 0pt;
}

.head_big {
	font-family : Tahoma, Arial;
	font-size : 14pt;
	color : #800000;
	line-height : 18pt;
	margin-top : 2pt;
	margin-bottom : 2pt;
}

.ring  {
	font-family : Tahoma, Arial;
	font-size : 9pt;
	color : #3A5987;
}

.vote  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #0000A0;
}

#rem_index  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #0000A0;
	text-align : justify;
	line-height : 12pt;
	margin-top : 1pt;
	margin-bottom : 1pt;
	margin-left : 5pt;
	margin-right : 5pt;
}

.head_index {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #0000A0;
	text-align : justify;
	line-height : 12pt;
	margin-top : 1pt;
	margin-bottom : 1pt;
	margin-left : 5pt;
	margin-right : 5pt;
}

.headtext {
	font-family : Tahoma, Arial;
	font-size : 14pt;
	color : #800000;
	text-align : center;
	letter-spacing : 1px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.linktext  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #808000
}

.file  {
	font-family : Tahoma, Arial;
	font-size : 9pt;
	color : #800000;
	text-align : left;
	margin-top : 1pt;
	margin-bottom : 1pt;
}

.linkbig  {
	font-family : Tahoma, Arial;
	font-size : 12pt;
}

.title {
	font-family : Tahoma, Arial;
	font-size : 14pt;
	color : #004D26;
}

#headbig1 {
	font-family : Tahoma, Arial;
	font-size : 18pt;
	color : #800000;
}

#rem2 {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #004D26;
}

.rem2 {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #0000A0;
	line-height : 12pt;
	margin-top : 1pt;
	margin-bottom : 1pt;
	margin-left : 5pt;
	margin-right : 5pt;
}

.infobig  {
	font-family : Tahoma, Arial;
	font-size : 12pt;
	color : #800000;
	text-align : left;
	margin-top : 1pt;
	margin-bottom : 1pt;
}

.text1  {
	font-family : Tahoma, Arial;
	font-size : 10pt;
	color : #000000;
	text-align : justify;
	line-height : 14pt;
	text-indent  : 12pt;
	letter-spacing : 1px;
}

.textpre1  {
	font-size : 10pt;
	font-family : Courier New;
	color : #000000;
}

.Normal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Arial;}
.textword
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Tahoma;
	color:black;
	text-align : justify;
	text-indent  : 12pt;
	letter-spacing : 1px;
	}
.head2word
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:14.0pt;
	font-family:Tahoma;
	color : #800000;
	text-align : left;
}
.textpreword
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Courier New";
	color:black;}
.head3word
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Tahoma;
	color : #800000;
	text-align : left;
	font-style:italic;}
.textwordb
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Tahoma;
	color:windowtext;
	font-weight:bold;}
.textwordbu
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Tahoma;
	color:windowtext;
	font-weight:bold;
	text-decoration:underline;
	text-underline:single;}

#top
{
width: 750px;
padding-top: 5px;
padding-bottom: 5px;
}

#head
{
width: 750px;
background: #ADADFF;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
}

#main
{
width: 750px;
background: #CADDFE;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
text-align:left;
}

#end
{
width: 750px;
background: #ADADFF;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
}

#counter
{
visibility: hidden;
position: absolute;
top: 0px;
left: 0px;
}

